In [5]:
import pandas as pd

# a. Creating DataFrames
data1 = {
    'Name': ['Ravi', 'Sita', 'Kiran'],
    'Age': [25, 30, 22]
}

data2 = {
    'Name': ['Arun', 'Meena'],
    'Age': [28, 26]
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

print("DataFrame 1: \n", df1)
print("DataFrame 2: \n", df2)

# b. concat()
merged_df = pd.concat([df1, df2], ignore_index=True)
print("Merged DataFrame: \n", merged_df)

# c. Setting conditions
filtered_df = merged_df[merged_df['Age'] > 25]
print("Filtered DataFrame (Age > 25): \n", filtered_df)

# d. Adding a new column
merged_df['Status'] = ['Active', 'Active', 'Inactive', 'Active', 'Inactive']
print("DataFrame with New Column: \n", merged_df)

DataFrame 1:
     Name  Age
0   Ravi   25
1   Sita   30
2  Kiran   22
DataFrame 2:
     Name  Age
0   Arun   28
1  Meena   26
Merged DataFrame:
     Name  Age
0   Ravi   25
1   Sita   30
2  Kiran   22
3   Arun   28
4  Meena   26
Filtered DataFrame (Age > 25):
     Name  Age
1   Sita   30
3   Arun   28
4  Meena   26
DataFrame with New Column:
     Name  Age    Status
0   Ravi   25    Active
1   Sita   30    Active
2  Kiran   22  Inactive
3   Arun   28    Active
4  Meena   26  Inactive

In [10]:
import pandas as pd
import numpy as np

# Creating a DataFrame with NaN values
data = {
    'Name': ['Ravi', 'Sita', 'Kiran', 'Meena', np.nan],
    'Department': ['IT', 'HR', 'IT', 'Finance', 'HR'],
    'Salary': [45000, 52000, 48000, 50000, 47000]
}

df = pd.DataFrame(data)
print("Original DataFrame: \n", df)

# a. Filling NaN with string
df_filled = df.fillna('Unknown')
print("DataFrame after filling NaN: \n", df_filled)

# b. Sorting based on column values
df_sorted = df_filled.sort_values('Salary', ascending=True)
print("Sorted DataFrame by Salary: \n", df_sorted)

# c. groupby()
df_grouped = df_filled.groupby('Department').mean(numeric_only=True)
print("Grouped Data (Department-wise Average Salary): \n", df_grouped)

Original DataFrame:
     Name Department  Salary
0   Ravi         IT   45000
1   Sita         HR   52000
2  Kiran         IT   48000
3  Meena    Finance   50000
4    NaN         HR   47000
DataFrame after filling NaN:
       Name Department  Salary
0     Ravi         IT   45000
1     Sita         HR   52000
2    Kiran         IT   48000
3    Meena    Finance   50000
4  Unknown         HR   47000
Sorted DataFrame by Salary:
       Name Department  Salary
0     Ravi         IT   45000
4  Unknown         HR   47000
2    Kiran         IT   48000
3    Meena    Finance   50000
1     Sita         HR   52000
Grouped Data (Department-wise Average Salary):
              Salary
Department
Finance     50000.0
HR          49500.0
IT          46500.0